<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643494025068-1cnsd30g7nqpje505ak899rbbc06qt69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643494025068-1cnsd30g7nqpje505ak899rbbc06qt69</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>643494025068-bqrr26bfcvrgvhpmpnto8t4gpedfe5ej.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWfCdMzK7-2VQ1BhtfifAeoYm9HSX3Tnw</string>
	<key>GCM_SENDER_ID</key>
	<string>643494025068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gridsApps.beautyProvider</string>
	<key>PROJECT_ID</key>
	<string>beauty-sallon-booking</string>
	<key>STORAGE_BUCKET</key>
	<string>beauty-sallon-booking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643494025068:ios:907abb07052a6d7d83c549</string>
</dict>
</plist>